@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.circle-clip {
		clip-path: circle(15rem at 30% 35%);
		color: red;
	}

	.circle-clip-hidden {
		clip-path: circle(0 at 9% 5%);
	}
}
